table,thead{
    border:1px solid white;
    border-collapse: collapse;
    color:white;
}
td{
    padding:10px;
    color : white;
}
caption{
    color:white;
}
div{
    background-color: black;
    padding:10px;
}
h2 {
    color : white;
}
th {
    color : white;
}